<!doctype html>
<html class="startup-background"
{% if COMPILED %}
manifest="/cache.manifest"
{% endif %}
manifest_version={{MANIFEST_VERSION}}>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style"
        content="black"/>
  <meta name="format-detection" content="telephone=yes">
  <!--
  See http://matt.might.net/articles/how-to-native-iphone-ipad-apps-in-javascript/
  <link rel="apple-touch-icon"  href="./apple-touch-icon.png" />
  <link rel="apple-touch-startup-image" href="./startup.png" />
  -->
  <meta name="viewport"
        content="initial-scale=1.0, width=device-width,
        height=device-height, minimum-scale=1.0, maximum-scale=1.0,
        user-scalable=no"/>
  <title>
    {% block title %}{% endblock %}
  </title>
  {% if IS_IPAD %}
  <style>
    body, html {
      xwidth: 320px;
    }
  </style>
  {% endif %}
  <style>
    .startup-background {
      background: #3E609D none 0 0 no-repeat;
      background-image: -webkit-gradient(linear, 0% 100%, 0% 40%, from(#3E609D), to(#2989D8), color-stop(0, #3E609D));
      background-size: 100% 100%;
      min-height: 100%;
    }
  </style>
  {% if COMPILED %}
  {% if USE_EMBED_IMAGE %}
  <link href="/build/bin.all.embed.css" type="text/css" rel="stylesheet"/>
  {% else %}
  <link href="/build/bin.all.css" type="text/css" rel="stylesheet"/>
  {% endif %}
  {% else %}
  {% for name in CSS_FILE_NAMES %}
  <link href="/static/css/{{name}}.css" type="text/css" rel="stylesheet"/>
  {% endfor %}
  {% endif %}
</head>
<body>
{% block body %}
{% endblock %}
{% if HAS_JS %}
<script>
  document.addEventListener(
    'touchmove',
    function(evt) {
      evt.preventDefault()
    },
    true);
</script>
{% if COMPILED %}
<script src="/build/bin.startup.js"></script>
<script src="/build/bin.basepage.js"></script>
{% else %}
<script src="/static/closure-lib/closure/goog/base.js"></script>
<script src="/static/js/deps.js"></script>
<script>goog.require('hw.DevOnly');</script>
<script src="/static/js/startup.js"></script>

<!--
<script src="/build/raw.startup.js"></script>
<script src="/build/raw.basepage.js"></script>
-->
{% endif %}
<script>startup();</script>
{% endif %}
</body>
</html>
