<!--
<div id="masthead">
  <h1>Facebook Friend Lists Manager</h1>

  <noscript>
    Use Facebook Friend Lists Manager to manage your Facebook Friend Lists more
    effectively.
  </noscript>

  <div id="share-buttons">
    <fb:like href="http://friends-list.appspot.com/" send="false"
             layout="button_count" width="100" show_faces="false"
             font="arial"></fb:like>
    <!--
    <span class="twitter-share-button-parent">
      <a href="http://twitter.com/share" class="twitter-share-button"
         data-count="horizontal">Tweet</a>
    </span>
  </div>
</div>
<div id="status-bar"></div>

<div id="footer">
  <a href="/">Home</a>
  <a href="/support">About &amp; Help</a>

  <br /><br />

  <fb:like href="http://friends-list.appspot.com/" send="false"
           layout="button_count" width="100" show_faces="false"
           font="arial"></fb:like>


</div>
-->