{% extends 'base.html' %}

{% block title %}Support{% endblock %}
{% block body %}

<div class="faq">
  <h2>
    FAQ
  </h2>
  <ul class="ul">
    <li>
      <h2>What is this "Facebook Friend Lists Manager"</h2>
      <p>
        It's a tool that helps you to manage your friend lists and their 
        friends from Facebook.
      </p>
    </li>
    <li>
      <h2>What is a friend list and how do I use it?</h2>
      <a href="https://www.facebook.com/help/?page=768">
        See this official help page
      </a> for more documentations.
    </li>
    <li>
      <h2>Who built this tool?</h2>

      <p>
        This app is built by
        <a href="http://www.linkedin.com/in/hedgerwang">Hedger Wang</a>
      </p>
    </li>
    <li>
      <h2>
        Why built this tool?
      </h2>
      <p>
        Because the author is curious about the way how people use their
        friend lists.
      </p>
    </li>
  </ul>
</div>

{% endblock %}