.CSS_FEED_HEAD {
  background: #e2e9f1;
  padding: 6px;
}

.CSS_FEED_HEAD_TEXT {
  color: #3B5998;
  font-weight: bold;
}

.CSS_FEED_COUNT_TEXT {
  color: #666;
}

.CSS_FEED_ERROR {
  padding: 6px;
}

.CSS_FEED_ERROR_REASON {
  background: #f0f0f0;
  border: solid 1px #efefef;
  border-radius: 6px;
  color: #666;
  font-size: 80%;
  margin: 6px 0;
  padding: 6px;
}

.CSS_FEED_LOADING {
  padding: 40px;
  text-align: center;
}

.CSS_FEED_ITEM_EMPTY {
  padding: 6px;
}

.CSS_FEED_LIST_ITEM {
  background: #fff;
  border-top: solid 1px #eeeeff;
  padding: 4px 40px 4px 4px;
  min-height: 2em;
  position: relative;
  white-space: pre-wrap;
  word-break: break-word;
}

.CSS_FEED_LIST_ITEM:first-child {
  border-top: none;
}

.CSS_FEED_LIST_ITEM_GRID {
  display: table;
}

.CSS_FEED_LIST_ITEM_ROW {
  display: table-row;
}

.CSS_FEED_LIST_ITEM_SIDE {
  display: table-cell;
  padding: 0 5px 0 0;
  text-align: right;
  vertical-align: top;
  width: 28px;
}

.CSS_FEED_LIST_ITEM_CONTEXT {
  display: table-cell;
  vertical-align: top;
}

.CSS_FEED_LIST_ITEM_LIKE_OR_RESPOND {
  background: url(images/ufi_opener.png) 0 0 no-repeat;
  height: 26px;
  outline: none;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 24px;
}

.CSS_FEED_LIST_ITEM_LIKE_OR_RESPOND_POPUP {
  display: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#F9FAFD), to(#E2E5EB));
  border: solid 1px rgba(83, 97, 125, .80);
  border-radius: 6px;
  box-sizing: content-box;
  height: 33px;
  padding: 5px 7px;
  position: absolute;
  right: 44px;
  top: -10px;
  white-space: nowrap;
  z-index: 2;
}

.CSS_FEED_LIST_ITEM_LIKE_OR_RESPOND_POPUP:after {
  background: url(images/ufi_popup_arrow.png);
  content: '';
  display: block;
  height: 45px;
  position: absolute;
  right: -16px;
  top: -1px;
  width: 21px;
}

.CSS_FEED_LIST_ITEM_LIKE_OR_RESPOND_POPUP .CSS_SHADOW_LEFT,
.CSS_FEED_LIST_ITEM_LIKE_OR_RESPOND_POPUP .CSS_SHADOW_RIGHT {
  background: url(images/ufi_bg.png) 0 0 no-repeat;
  content: '';
  display: block;
  height: 77px;
  position: absolute;
  top: -14px;
  z-index: -1;
}

.CSS_FEED_LIST_ITEM_LIKE_OR_RESPOND_POPUP .CSS_SHADOW_LEFT {
  left: -14px;
  right: 16px;
}

.CSS_FEED_LIST_ITEM_LIKE_OR_RESPOND_POPUP .CSS_SHADOW_RIGHT {
  background-position: 100% 0;
  right: -32px;
  width: 48px;
}

.CSS_FEED_LIST_ITEM_LIKE_OR_RESPOND_POPUP .ICON_BUTTON {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .12), 0 1px 0 white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFBFE), to(#E0E3EA));
  border: solid 1px #B8BCC2;
  border-top-color: #93969C;
  border-radius: 3px;
  color: #576B95;
  display: inline-block;
  padding: 6px;
  position: relative;
  text-shadow: 0 1px 0 white;
  z-index: 1;
  white-space: nowrap;
}

.CSS_FEED_LIST_ITEM_LIKE_OR_RESPOND_POPUP .LIKE_BUTTON {
  margin-right: 9px;
}

.CSS_FEED_LIST_ITEM_ICON {
  display: inline-block;
  max-width: 28px;
}

.CSS_FEED_LIST_ITEM_NAME_LINK {
  font-weight: bold;
  margin-right: 6px;
}

.CSS_FEED_LIST_ITEM_VIDEO {
  border-left: solid 2px #eee;
  font-size: 90%;
  line-height: 130%;
  padding: 0 0 0 4px;
}

.CSS_FEED_LIST_ITEM_MINOR_TEXT,
.CSS_FEED_LIST_ITEM_VIDEO_DESCRIPTION {
  color: #666;
}

.CSS_FEED_LIST_ITEM_MINOR_TEXT {
  font-size: 90%;
}

.CSS_FEED_LIST_ITEM_STATUS {
  display: inline;
  margin: 0 0 0 4px;
}

.CSS_FEED_LIST_ITEM_LINK_MESSAGE {
  display: inline;
}

.CSS_FEED_LIST_ITEM_PHOTO_LINK {
  display: block;
  font-size: 1px;
  line-height: 0;
  margin: 3px 0;
}

/*
.CSS_FEED_LIST_ITEM_PHOTO_LINK .CSS_IMAGE {
  background-color: #fff;
  background-position: 50% 50%;
  border: solid 1px #3B5998;
  display: block;
  margin: 0 6px 0 0;
  padding: 3px;
  height: 120px;
  vertical-align: middle;
  width: 120px;
}
*/

.CSS_FEED_LIST_ITEM_PHOTO_IMG {
  border: solid 1px #eee;
  display: block;
  padding: 3px;
  max-width: 95%;
}

.CSS_INFO_FEED_ITEM,
.CSS_ALBUMS_FEED_ITEM {
  border-top: solid 1px #eee;
  display: block;
  padding: 6px;
}

.CSS_INFO_FEED_ITEM:first-child,
.CSS_ALBUMS_FEED_ITEM:first-child {
  border-top: none;
}

.CSS_INFO_FEED_ITEM_LABEL,
.CSS_ALBUMS_FEED_ITEM_NAME {
  color: #3B5998;
  display: block;
  font-size: 95%;
}

.CSS_ALBUMS_FEE {
  background: #fff;
}

.CSS_ALBUMS_FEED_ITEM_IMG {
  background: #f0f0f0 none 0 0 no-repeat;
  border: solid 1px #3B5998;
  display: inline-block;
  margin: 0 6px 0 0;
  height: 60px;
  vertical-align: middle;
  width: 60px;
}

.CSS_ALBUMS_FEED_ITEM {
  white-space: nowrap;
}

.CSS_ALBUMS_FEED_ITEM_CONTENT {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

.CSS_ALBUMS_FEED_ITEM_COUNT {
  display: block;
}

.chrome-profilepage .CSS_FEED_HEAD {
  display: none;
}

.CSS_FRIENDS_FEED_GROUP_LABEL {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
  border-bottom: solid 1px #eee;
  color: #aaa;
  padding: 0 6px;
}

.CSS_FRIENDS_FEED_GROUP_LABEL {
  border-top: solid 1px #eee;
}

.CSS_FRIENDS_FEED,
.CSS_GROUPS_FEED {
  padding: 0;
}

.CSS_FRIENDS_FEED_ITEM,
.CSS_GROUPS_FEED_ITEM,
.CSS_PLACES_FEED_ITEM {
  border-bottom: solid 1px #eee;
  display: block;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.CSS_FRIENDS_FEED_ITEM {
  margin-bottom: -1px;
}

.CSS_FEED_ITEM_USER_IMG,
.CSS_GROUPS_FEED_ITEM_IMG,
.CSS_PLACES_FEED_ITEM_IMG {
  background: #c4cde0 url(images/anony.gif) 50% 50% no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 50px;
  margin-right: 6px;
  vertical-align: middle;
  width: 50px;
}

.CSS_PLACES_FEED_ITEM_IMG {
  background-image: url(images/place.png)
}

.CSS_FRIENDS_FEED_ITEM_NAME,
.CSS_GROUPS_FEED_ITEM_NAME,
.CSS_PLACES_FEED_ITEM_NAME {
  color: #000;
  font-weight: bold;
  vertical-align: middle;
}

.CSS_GROUPS_FEED_ITEM {
  padding: 0;
  position: relative;
}

.CSS_GROUPS_FEED_ITEM_UNREAD_COUNT {
  background: #d8dfea;
  border-radius: 4px;
  color: #3B5998;
  font: bold 13px/normal verdana;
  padding: 1px 4px;
  position: absolute;
  right: 36px;
  top: 16px;
}

.CSS_GROUPS_FEED_ITEM_CHEVRON {
  color: #666;
  font: bold 24px/normal verdana;
  position: absolute;
  right: 18px;
  top: 8px;
}

.CSS_PHOTOS_FEED_IMGS {
  padding: 3px;
}

.CSS_PHOTOS_FEED_IMG_LINK {
  border: solid 1px #3B5998;
  display: inline-block;
  height: 60px;
  margin: 3px;
  overflow: hidden;
  vertical-align: middle;
  width: 60px;
}

.CSS_PHOTOS_FEED_IMG_W {
  height: 60px;
}

.CSS_PHOTOS_FEED_IMG_H {
  width: 60px;
}

.CSS_PLACES_FEED_ITEM_CONTEXT {
  display: inline-block;
  line-height: 115%;
  vertical-align: top;
}

.CSS_PLACES_FEED_ITEM_PLACE {
  color: #3B5998;
  font-size: 80%;
}

.CSS_PLACES_FEED_ITEM_TIME {
  color: #000;
  font-size: 80%;
}

.CSS_NOTIFICATION_FEED_LINK {
  display: block;
}

.CSS_NOTIFICATION_FEED_NAME {
  color: #000;
  display: block;
}

.CSS_NOTIFICATION_FEED_TIME {
  color: #808080;
  font-size: 80%
}

.CSS_NOTIFICATION_FEED_LIST_ITEM {
  padding: 0;
}