.CSS_PROFILE_CARD {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  background: #e2e9f1;
  height: 50px;
  padding: 6px;
}

.CSS_PROFILE_CARD_CONTENT {
  white-space: nowrap;
}

.CSS_PROFILE_CARD_CONTENT_IMG {
  background: #fff;
  height: 50px;
  margin-right: 6px;
  min-width: 50px;
  vertical-align: middle;
}

.CSS_PROFILE_CARD_CONTENT_NAME {
  color: #3B5998;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
}
