.CSS_START_SCREEN {
  -webkit-user-select: none;
  background: #2989D8;
  /* See http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html */
  /* http://www.westciv.com/tools/gradients/index-moz.html */
  background-image: -webkit-gradient(linear, 0% 100%, 0% 40%, from(#3E609D), to(#2989D8), color-stop(0, #3E609D));
  width: 100%;
}

.CSS_START_SCREEN_LOGO {
  color: #fff;
  font: bold 36px/100% Lucida Sans, Lucida Grande, arial;
  letter-spacing: -3px;
  text-align: center;
  text-shadow: -1px -1px #3E609D, 1px 1px #2989D8;
  white-space: nowrap;
}

.CSS_START_SCREEN_LOGIN_BUTTON {
  margin: 24px 0 0 0;
  padding-left: 30px;
  padding-right: 30px;
  visibility: hidden;
}

.CSS_START_SCREEN_CLOSE_ANIMATION {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
}